﻿<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.1.1.slim.min.js" integrity="sha384-A7FZj7v+d/sdmMqp/nOQwliLvUsJfDHW+k9Omg/a/EheAdgtzNs3hpfag6Ed950n" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js" integrity="sha384-DztdAPBWPRXSA/3eYEEUWrWCy7G5KFbe8fFjk5JAIxUYHKkDx6Qin1DkWx51bBrb" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js" integrity="sha384-vBWWzlZJ8ea9aCX4pEW3rVHjgjt7zpkNpZk+02D9phzyeVkE+jo0ieGizqPLForn" crossorigin="anonymous"></script>

    <script>
        $(document).ready(function () {
            $("#submitFileImportBtn").attr("disabled", true);

            $("#csvFileBtn").change(function () {
                if ($("#csvFileBtn").val())
                {
                    var filename = $("#csvFileBtn").val();
                    
                    var extension = filename.replace(/^.*\./, '');

                    if (extension == filename) {
                        extension = '';
                    }
                    else {
                        extension = extension.toLowerCase();
                    }

                    if (extension == "csv") {
                        $("#fileUploadingError").text("");
                        $("#submitFileImportBtn").attr("disabled", false);
                    }
                    else {
                        $("#fileUploadingError").text("Пожалуйста, выберите файл формата .csv и повторите попытку");
                    }
                }
            });
        });
    </script>

    <script>
        var values;
        var isDisabled = false;

        $(document).ready(function () {
            values = $("select option:selected").map(function () { return $(this).val() }).get();
            $("#map").attr("disabled", true);
        });

        function checkParameters(optionValue)
        {
            values = $("select option:selected").map(function () { return $(this).val() }).get();

            if (jQuery.inArray("NoMapped", values) !== -1) // -1 == Not Found
            {
                console.log("NoMapped found");
                isDisabled = true;
                $("#error").text("Пожалуйста, настройте все поля");
            }
            else {
                console.log("NoMapped not found");
                isDisabled = false;
                $("#error").text("");
            }

            $("#map").attr("disabled", isDisabled);
        } 
    </script>

</head>
<body>
    <nav class="navbar navbar-toggleable-md navbar-inverse bg-inverse">
        <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        @Html.ActionLink("MapTool", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
                <li class="nav-item">
                    @Html.ActionLink("Список продукции", "Index", "Items", new { @class = "nav-link" })
                </li>
            </ul>
        </div>
    </nav>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @RenderSection("scripts", required: false)
</body>
</html>
