﻿
@{
    ViewBag.Title = "Import";
    string csvData = ViewBag.csvData;

    string findExampleValues(int columnIndex)
    {
        List<string> exampleValues = new List<string>();
        string columns = csvData.Split('\n').Skip(0).Take(1).ElementAt(0);

        foreach (string row in csvData.Split('\n').Skip(1))
        {
            if(!string.IsNullOrEmpty(row))
            {
                string exampleValue = row.Split(',')[columnIndex];

                if (exampleValues.Count < 4 && !String.IsNullOrEmpty(exampleValue) && !exampleValues.Exists(element => element == exampleValue))
                {
                    exampleValues.Add(exampleValue);
                }
                else if(exampleValues.Count == 4)
                {
                    exampleValues.Add("...");
                }
            }
        }

        string values = String.Empty;
        for(int i = 0; i < exampleValues.Count; i++)
        {
            values += exampleValues[i];
            if (i != exampleValues.Count - 1)
            {
                values += " / ";
            }
        }

        return values;
    }
}

<div class="row" style="margin-top:4rem;">
    <div class="col-12">
        @using (Html.BeginForm("Mapping", "Items", FormMethod.Post, new { enctype = "multipart/form-data" }))
        {
            @Html.AntiForgeryToken();
            <input name="csvData" type="hidden" value="@csvData" />

            <table class="table">
                <thead class="thead-inverse" style="font-weight: bold;">
                    <tr>
                        <th>Колонка</th>
                        <th>Параметр</th>
                        <th>Примеры значений</th>
                        <th>Ошибки данных</th>
                    </tr>
                </thead>
                <tbody>
                    @{
                        string row = csvData.Split('\n').Skip(0).Take(1).ElementAt(0);
                        for (int i = 0; i < row.Split(',').Count(); i++)
                        {
                            <tr>
                                <input name="columnName" type="hidden" value="@row.Split(',')[i]" />
                                <td>@row.Split(',')[i]</td>
                                <td>
                                    <select id="@row.Split(',')[i]" name="parameterName" onchange="checkParameters(this.value)">
                                        <option value="NoMapped" selected>NoMapped</option>
                                        <option value="SKU">SKU</option>
                                        <option value="Brand">Brand</option>
                                        <option value="Price">Price</option>
                                        <option value="Weight">Weight</option>
                                        <option value="Feature">Feature</option>
                                        <option value="Product parameter">Product parameter</option>
                                        <option value="Ignore">Ignore</option>
                                    </select>
                                </td>
                                <td>@findExampleValues(i)</td>
                            </tr>
                        }
                    }
                </tbody>
            </table>
            <div class="float-right">
                <span id="error" style="color: red;"></span>
                <input id="map" type="submit" value="Ок" class="btn btn-primary" />
                <button role="link" class="btn btn-secondary">Отмена</button>
            </div>
        }
    </div>
</div>