﻿@model PagedList.IPagedList<JuniorTestApp.Models.Item>
@using PagedList.Mvc;
<link href="~/Content/PagedList.css" rel="stylesheet" type="text/css" />

@{
    ViewBag.Title = "Index";
}
<table class="table">
    <thead>
        <tr>
            @if (Model.Count > 0)
            {
                foreach (string column in Model.First().ColumnNames.Split('|'))
                {
                    <th>
                        @column
                    </th>
                }
            }
            else
            {
                <p>There is no records in database</p>
            }

        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.SKU)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Brand)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Price)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Weight)
                </td>
                @foreach (string val in item.Feature.Split('|'))
                {
                    if (!String.IsNullOrEmpty(val))
                    {
                        <td>
                            @val
                        </td>
                    }

                }
                @foreach (string val in item.ProductParameter.Split('|'))
                {
                    if (!String.IsNullOrEmpty(val))
                    {
                        <td>
                            @val
                        </td>
                    }
                }
            </tr>
        }
    </tbody>
</table>

@Html.PagedListPager(Model, page => Url.Action("Index",
    new { page, sortOrder = ViewBag.CurrentSort, currentFilter = ViewBag.CurrentFilter }))