﻿@{
    ViewBag.Title = "Главная";
}

<div class="row">
    <div class="col-md-12">
        <div class="jumbotron" style="margin-top: 2rem;">
            @using (Html.BeginForm("Import", "Items", FormMethod.Post, new { enctype = "multipart/form-data" }))
            {
                <p id="fileUploadingError" style="color:red;margin-bottom: 1rem;"></p>
                <div class="form-inline">
                    <input id="csvFileBtn" name="csvFile" type="file" accept=".csv" />
                    <input id="submitFileImportBtn" type="submit" class="btn btn-primary" style="margin-left:1rem;" />
                </div>
            }
        </div>
        
    </div>
</div>